//MOBILE VIEW - 320px
@media (max-width: 320px) {
  .navbar {
    flex-flow: column nowrap;
    .navbar__logo {
      margin-top: 5%;
    }
  
    .navbar__nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: space-around;
      width: 100%;
      margin: 0%;
  
      p {
        font-size: .8rem;
        margin: 3% 5% 0% 5%;
        padding: 0 15% 3% 15%;
      }
    }
  
    .navbar__nav--active {
      border-bottom: 3px solid $white;
      font-weight: bold;
    }
  }

  .hero__hero-image {
    height: 35vh;
  }

  .hero__hero-image--overlay {
    height: 35vh;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    #hero__h2 {
      font-size: 1.5rem;
      margin-bottom: 155%;
      margin-left: 5%;
    }
  }


  .quote-area {
    h2 {
      font-size: 1.5em;
      margin: 8% 0 4% 5%;
    }
  
    .quote-area__img {
      height: 25vh;
      width: 90vw;
    }
  }
  
  .quote-block {
  
    .quote-block__h3 {
      font-size: .9rem;
      width: 88%;
      margin: 5% 2% 3% 5%;
    }
  
    p {
      font-size: .75rem;
      margin: 2% 0 3% 5%;
    }
  }

  .bio-area {
    justify-content: flex-start;


    .bio__h3 {
      font-size: 1rem;
      margin-left: 5%;
    }
  
    .bio__p {
      flex-flow: row wrap;
      width: 100vw;
      margin-left: 1%;
      font-size: .8rem;

  
      p {
        margin-top: 0;
        padding: 0 4% 5% 5%;
      }
    }
  }


  .gallery {
    flex-flow: column nowrap;
    
    .gallery-container {
      margin: 2% 3% 7% 3%;
    }

    h2 {
      margin: 3% 0 4% 2%;
      font-size: 1.5rem;
    }

    .gallery__grid {
      img {
        margin: 0;
        padding: 2%;
        width: 90vw;
        }
      }
    }
  
  .footer {
    flex-flow: row wrap;
    align-items: flex-end;

    .footer__links {
      flex-flow: row wrap;
      margin-left: 3%;

      h2 {
        font-size: 2rem;
        margin: 10% 30% 0 0;
      }
      
      img {
        padding: 4% 5% 6% 0;
        
      }
      
      .footer__logo {
        display: none;
      }
    }
  
  .agents {
    flex-flow: column nowrap;
    .agents__contact {
      padding-right: 5%;
      margin: 1%;

      p {
        font-size: .7rem;
        padding: 2% 0;
      }

      .agents__contact--font-sm {
        font-size: .7rem;
      }
    }
  }

    .copyright-info {
      p {
        width: 65%;
        font-size: .7rem;
      }
    }
  }
}
