@import 'styles';
 
.hero {  
  width: 100%;
    
  .hero__hero-image {   
    background-size: cover;  
    overflow: hidden;
    background-image: url("../4.0 - Assets/Images/ryoji-iwata-1331939-unsplash.jpg"); 
  }      
  .hero__hero-image--overlay {  
    height: 500px;      
    background: rgba(0, 0, 0, .5);   
    display: flex;      
    flex-flow: column nowrap;   
    justify-content: center; 
    align-items: flex-start;   
   
    h2 {      
      font-size: 4rem;  
      color: white; 
      margin-left: 10%;  
      margin-top: 0;  
    }      
   
    h4 {   
      color: $white; 
      font-size: 1.5rem; 
      margin: 25% 0 0 10%;
    } 
    iframe {
      position: relative;
      bottom: 55%;
      right: 10%;
      align-self: flex-end;
      width: 400px;
      margin: 0 0 0 0; 
      // margin-bottom: 300px;
    }  
  }   
}   

.tourdates {     
  width: 85%;    
  display: flex;    
  flex-flow: row nowrap;  
  
  h2 {         
    font-size: 2rem;     
    margin-left: 10%;   
  }    
 
  .tourdates__table {   
    display: flex;  
    flex-flow: column nowrap;
    width: 90%;
    margin: 2% 5%;

    table {
      align-self: center;
      width: 90%;
      margin-left: 7%;

        tr {
          box-shadow: 0 2px 0 $alabaster; 
          margin: 6% 0%;

          &:nth-of-type(1) {
            box-shadow: none;
          }

          td {
            padding: 2% 0%; 
          }

          .desktop-header {
            color: $mercury;
            font-size: .8rem;
            padding-right: 22%;
          }

          & > td:nth-child(2) {
            font-weight: bold;
            // padding-right: 10%;
          }

          & > td:nth-child(4), td:nth-child(6) {
            font-size: .8rem;
          }
          
          .mobile-header {
            display: none;
          }

          button {
            background: $black;
            color: $white;
            font-weight: bold;
            font-size: .8rem;
            padding: 15px 45px;
            border-radius: 4px;
            white-space: nowrap;
            margin-left: 30%;
          }      
        }      
      }
    }
  }
 
//MEDIA QUERIES 

//TABLET VIEW 
  @import './Media-Queries/show_tablet-view';
//MOBILE VIEW
  @import './Media-Queries/show_mobile-view';  