@font-face {
  font-family: 'Avenir Next';
  src: url("4.0 - Assets/_Global Font/AvenirNextProLT");
}

body {
  font-family: 'Avenir Next';
  color: #323232;
  margin: 0;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.navbar .navbar__logo {
  margin: 1% 5% 0 10%;
}

.navbar .navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2%;
}

.navbar .navbar__nav .nav-link {
  margin: 0 25%;
  margin-top: 15%;
  padding-bottom: 0%;
  text-decoration: none;
  color: #FFFFFF;
}

.navbar .navbar__nav .nav-link:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-shadow: 0 0 1px #FFFFFF;
}

.navbar .navbar__nav--active {
  border-bottom: 3px solid #FFFFFF;
  font-weight: bold;
}

.hero {
  width: 100%;
}

.hero .hero__hero-image {
  background-size: cover;
  overflow: hidden;
  background-image: url("../4.0 - Assets/Images/Hero.jpg");
}

.hero .hero__hero-image .hero__hero-image--overlay {
  height: 670px;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero .hero__hero-image .hero__hero-image--overlay h2 {
  font-size: 4rem;
  color: #FFFFFF;
  margin-left: 10%;
  margin-bottom: 18%;
}

.quote-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote-area h2 {
  font-size: 2em;
  margin: 3.5% 0 3.5% 10%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.quote-area .quote-area__img {
  background-image: url("../4.0 - Assets/Images/Artist-image.jpg");
  background-size: cover;
  height: 450px;
  width: 60%;
}

.quote-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quote-block .quote-block__h3 {
  font-size: 1.5rem;
  width: 60%;
  margin-left: 20%;
  margin-top: 3%;
}

.quote-block p {
  width: 55%;
  margin-left: 20%;
}

.bio-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bio-area .bio__h3 {
  font-size: 1.5rem;
  margin-left: 20%;
}

.bio-area .bio__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 18%;
  font-size: .9rem;
  width: 60%;
}

.bio-area .bio__p p {
  padding: 0 3% 2% 3%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  background: #FAFAFA;
}

.gallery .gallery-container {
  margin-left: 16%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.gallery h2 {
  margin-bottom: 4%;
  font-size: 2rem;
}

.gallery .gallery__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.gallery .gallery__grid img {
  padding: 1%;
  width: 25%;
  height: 10%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.gallery .gallery__grid img:hover {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-filter: none;
          filter: none;
}

.comments-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.comments-area #comments-area__h2 {
  font-size: 2rem;
  margin: 3% 0 2% 16%;
}

.comments-area .comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.comments-area .comments-container .comments-container__title {
  color: #AFAFAF;
  font-weight: bold;
  font-size: .8rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1.5% 0 0 34%;
}

.comments-area .comments-container .comments-area__name-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.comments-area .comments-container .comments-area__name-input .profile-picture {
  border-radius: 50%;
  width: 48px;
  height: 46px;
  margin-right: 1%;
}

.comments-area .comments-container .comments-area__name-input input {
  background: #FAFAFA;
  width: 30%;
  padding: 1%;
  margin-right: 5%;
  border-radius: 4px;
  border: 2px #E1E1E1 solid;
  font-size: .8em;
}

.comments-area .comments-container .comments-area__name-input input:focus {
  border-color: #323232;
}

.comments-area .comments-container .comments-area__comment-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.comments-area .comments-container .comments-area__comment-input textarea {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #FAFAFA;
  width: 30%;
  border-radius: 4px;
  max-width: 30%;
  min-width: 30%;
  min-height: 60px;
  max-height: 120px;
  height: 60px;
  padding: 1%;
  border: 2px #E1E1E1 solid;
  font-size: .8em;
}

.comments-area .comments-container .comments-area__comment-input textarea:focus {
  border-color: #323232;
}

.comments-area .comments-container .comments-area__comment-input .commentBtn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #323232;
  color: #FFFFFF;
  font-weight: bold;
  font-size: .8rem;
  width: 12%;
  padding: 1%;
  margin: 2% 34% 2% 0;
  border-radius: 4px;
}

.comments-area .comments-container .comments-area__comment-feed {
  width: 100%;
}

.comments-area .comments-container .comments-area__comment-feed .user-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2%;
}

.comments-area .comments-container .comments-area__comment-feed .user-comment div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  height: 20%;
  border-top: 2px solid #FAFAFA;
}

.comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 0;
  border: none;
}

.comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container .name {
  color: #323232;
  line-height: 50px;
  font-weight: bold;
  font-size: 1rem;
  margin: 3% 0 5% 3%;
}

.comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container .circle {
  background: #E1E1E1;
  margin-left: 5%;
  border-radius: 50%;
  width: 48px;
  height: 46px;
  margin-bottom: 1%;
}

.comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container .date {
  font-size: .9rem;
  color: #AFAFAF;
  margin: 3% 0 0 2%;
  line-height: 50px;
}

.comments-area .comments-container .comments-area__comment-feed .user-comment div .comment {
  font-weight: normal;
  font-size: .8rem;
  color: #323232;
  margin: -5% 0 4% 15%;
}

.comments-area .comments-container .comments-area__comment-feed .user-comment div .deleteBtn {
  background: #323232;
  color: #FFFFFF;
  font-weight: bold;
  font-size: .7rem;
  width: 10%;
  padding: 1%;
  margin: 0 0 3% 87%;
  border-radius: 4px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 50%;
  background: #323232;
  color: #FFFFFF;
}

.footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  margin-left: 10%;
}

.footer .footer__links h2 {
  font-size: 2rem;
  padding-top: 1%;
  margin-right: 3%;
}

.footer .footer__links img {
  margin: 1% 2%;
}

.footer .footer__links .footer__logo {
  margin-left: 32%;
}

.footer .agents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 9%;
}

.footer .agents .agents__contact {
  padding-right: 5%;
  margin: 1%;
}

.footer .agents .agents__contact a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer .agents .agents__contact .agents__contact--font-sm {
  font-size: .8rem;
}

.footer .copyright-info {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1% 0 2% 10%;
}

.footer .copyright-info p {
  margin-top: 0;
  font-size: .9rem;
}

@media (max-width: 1125px) {
  .deleteBtn {
    min-width: 11%;
  }
}

@media (max-width: 975px) {
  .deleteBtn {
    min-width: 12%;
  }
}

@media (max-width: 930px) {
  .deleteBtn {
    min-width: 12%;
  }
}

@media (max-width: 800px) {
  .deleteBtn {
    min-width: 14%;
  }
}

@media (max-width: 768px) {
  .navbar .navbar__logo {
    margin: 1% 5% 0 5%;
  }
  .navbar .navbar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 2%;
  }
  .navbar .navbar__nav .nav-link {
    font-size: .8rem;
    margin-top: 20%;
    padding-bottom: 10%;
  }
  .navbar .navbar__nav--active {
    border-bottom: 3px solid #FFFFFF;
    font-weight: bold;
  }
  .hero__hero-image {
    height: 50vh;
  }
  .hero__hero-image--overlay {
    height: 50vh;
  }
  .hero__hero-image--overlay #hero__h2 {
    margin-bottom: 55%;
    margin-left: 3%;
  }
  .quote-area h2 {
    font-size: 2.5em;
    margin: 3.5% 0 2% 3%;
  }
  .quote-area .quote-area__img {
    height: 375px;
    width: 94%;
  }
  .quote-block .quote-block__h3 {
    font-size: 1.5rem;
    width: 94%;
    margin: 3.5% 0 2% 3%;
  }
  .quote-block p {
    margin: 2% 0 1% 3%;
  }
  .bio-area .bio__h3 {
    font-size: 1.7rem;
    margin-left: 3%;
  }
  .bio-area .bio__p {
    width: 100vw;
    margin-left: 1%;
    font-size: 1rem;
  }
  .bio-area .bio__p p {
    margin-top: 0;
    padding: 0 4% 5% 3%;
  }
  .gallery {
    width: 100%;
    background: #FAFAFA;
  }
  .gallery .gallery-container {
    margin: 2% 3%;
  }
  .gallery h2 {
    margin-bottom: 4%;
    font-size: 2.5rem;
  }
  .gallery .gallery__grid img {
    margin: 0;
    padding: 1.6%;
    width: 30%;
  }
  .comments-area #comments-area__h2 {
    margin-left: 3%;
  }
  .comments-area .comments-container .comments-container__title {
    margin: 4% 0 0 26%;
    font-weight: 600;
  }
  .comments-area .comments-container .comments-area__name-input {
    margin: 0;
  }
  .comments-area .comments-container .comments-area__name-input .profile-picture {
    margin-right: 3%;
  }
  .comments-area .comments-container .comments-area__name-input input {
    width: 55%;
    margin: 0;
  }
  .comments-area .comments-container .comments-area__name-input input:focus {
    border-color: #323232;
  }
  .comments-area .comments-container .comments-area__comment-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .comments-area .comments-container .comments-area__comment-input textarea {
    width: 100%;
    margin-left: 9%;
    max-width: 55%;
  }
  .comments-area .comments-container .comments-area__comment-input textarea:focus {
    border-color: #323232;
  }
  .comments-area .comments-container .comments-area__comment-input .commentBtn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 3% 0 0 46%;
    width: 20%;
    padding: 2%;
  }
  .comments-area .comments-container .comments-area__comment-feed {
    width: 100%;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2%;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 80%;
    height: 20%;
    border-top: 2px solid #FAFAFA;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin: 0;
    border: none;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container .name {
    color: #323232;
    line-height: 50px;
    font-weight: bold;
    font-size: 1rem;
    margin: 3% 0 5% 3%;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container .circle {
    background: #E1E1E1;
    margin-left: 5%;
    border-radius: 50%;
    width: 48px;
    height: 46px;
    margin-bottom: 1%;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container .date {
    font-size: .9rem;
    color: #AFAFAF;
    margin: 3% 0 0 2%;
    line-height: 50px;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div .comment {
    font-weight: normal;
    font-size: .8rem;
    color: #323232;
    margin: -6% 0 4% 16%;
  }
  .footer .footer__links {
    margin-left: 3%;
  }
  .footer .footer__links h2 {
    font-size: 1.8rem;
  }
  .footer .footer__links img {
    margin: 1% 2%;
  }
  .footer .footer__links .footer__logo {
    margin-left: 30%;
  }
  .footer .agents {
    margin-left: 3%;
  }
  .footer .agents .agents__contact {
    padding-right: 5%;
    margin: 1%;
  }
  .footer .agents .agents__contact .agents__contact--font-sm {
    font-size: .8rem;
  }
  .footer .copyright-info {
    margin-left: 4%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .navbar .navbar__logo {
    margin-top: 5%;
  }
  .navbar .navbar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    width: 100%;
    margin-left: 0%;
  }
  .navbar .navbar__nav .nav-link {
    font-size: 0.8rem;
    margin: -2% 2% -2% 0;
    padding: 0% 23% 1% 22%;
  }
  .navbar .navbar__nav .nav-link p {
    margin: 0;
  }
  .hero__hero-image--overlay {
    height: 670px;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero__hero-image--overlay #hero__h2 {
    font-size: 3rem;
    color: #FFFFFF;
    margin-left: 3%;
    margin-bottom: 50%;
  }
  .quote-area h2 {
    font-size: 2rem;
    margin: 3.5% 0 2% 3%;
  }
  .quote-area .quote-area__img {
    height: 375px;
    width: 94%;
  }
  .deleteBtn {
    width: 20%;
    margin-left: 75%;
  }
}

@media (max-width: 475px) {
  .navbar .navbar__nav .nav-link {
    font-size: 0.8rem;
    margin: -2% 5% 5% 0;
    padding: 0% 18% 2% 15%;
  }
  .deleteBtn {
    min-width: 15%;
  }
}

@media (max-width: 445px) {
  #hero__h2 {
    font-size: 2rem;
    margin-left: 3%;
    margin-bottom: 50%;
  }
  .deleteBtn {
    min-width: 20%;
  }
}

@media (max-width: 320px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .navbar .navbar__logo {
    margin-top: 5%;
  }
  .navbar .navbar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    width: 100%;
    margin-left: 0%;
  }
  .navbar .navbar__nav .nav-link {
    font-size: 0.8rem;
    margin: 0 5% 5% 0;
    padding: 0% 15% 4% 15%;
  }
  .navbar .navbar__nav .nav-link p {
    margin: 0;
  }
  .navbar .navbar__nav--active {
    border-bottom: 3px solid #FFFFFF;
    font-weight: bold;
  }
  .hero__hero-image {
    height: 35vh;
  }
  .hero__hero-image--overlay {
    height: 35vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__hero-image--overlay #hero__h2 {
    font-size: 1.5rem;
    margin-bottom: 155%;
    margin-left: 5%;
  }
  .quote-area h2 {
    font-size: 1.5em;
    margin: 8% 0 4% 5%;
  }
  .quote-area .quote-area__img {
    height: 25vh;
    width: 90vw;
  }
  .quote-block .quote-block__h3 {
    font-size: 0.9rem;
    width: 88%;
    margin: 5% 2% 3% 5%;
  }
  .quote-block p {
    font-size: 0.75rem;
    margin: 2% 0 3% 5%;
  }
  .bio-area {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .bio-area .bio__h3 {
    font-size: 1rem;
    margin-left: 5%;
  }
  .bio-area .bio__p {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100vw;
    margin-left: 1%;
    font-size: 0.8rem;
  }
  .bio-area .bio__p p {
    margin-top: 0;
    padding: 0 4% 5% 5%;
  }
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .gallery .gallery-container {
    margin: 2% 3% 7% 3%;
  }
  .gallery h2 {
    margin: 3% 0 4% 2%;
    font-size: 1.5rem;
  }
  .gallery .gallery__grid img {
    margin: 0;
    padding: 2%;
    width: 90vw;
  }
  .comments-area #comments-area__h2 {
    font-size: 1.5rem;
    margin: 5%;
  }
  .comments-area .comments-container .comments-container__title {
    margin: 4% 0 0 30%;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .comments-area .comments-container .comments-area__comment-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .comments-area .comments-container .comments-area__comment-input textarea {
    width: 100%;
    margin-left: 18%;
    max-width: 55%;
  }
  .comments-area .comments-container .comments-area__comment-input textarea:focus {
    border-color: #323232;
  }
  .comments-area .comments-container .comments-area__comment-input .commentBtn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 3% 0 10% 18%;
    width: 58%;
    padding: 5%;
  }
  .comments-area .comments-container .comments-area__comment-feed {
    width: 100%;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2%;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    height: 20%;
    border-top: 2px solid #FAFAFA;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container .name {
    color: #323232;
    line-height: 50px;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 3% 0 5% 3%;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container .circle {
    margin-left: 6%;
    margin-top: 5%;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div .name-container .date {
    margin: 3% 0 0 10%;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div .comment {
    margin: -7% 0 4% 24%;
  }
  .comments-area .comments-container .comments-area__comment-feed .user-comment div .deleteBtn {
    width: 20%;
    margin-left: 75%;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: 3%;
  }
  .footer .footer__links h2 {
    font-size: 2rem;
    margin: 10% 30% 0 0;
  }
  .footer .footer__links img {
    padding: 4% 5% 6% 0;
  }
  .footer .footer__links .footer__logo {
    display: none;
  }
  .footer .agents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .footer .agents .agents__contact {
    padding-right: 5%;
    margin: 1%;
  }
  .footer .agents .agents__contact p {
    font-size: 0.7rem;
    padding: 2% 0;
  }
  .footer .agents .agents__contact .agents__contact--font-sm {
    font-size: 0.7rem;
  }
  .footer .copyright-info p {
    width: 65%;
    font-size: 0.7rem;
  }
}

.hero {
  width: 100%;
}

.hero .hero__hero-image {
  background-size: cover;
  overflow: hidden;
  background-image: url("../4.0 - Assets/Images/ryoji-iwata-1331939-unsplash.jpg");
}

.hero .hero__hero-image--overlay {
  height: 500px;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero .hero__hero-image--overlay h2 {
  font-size: 4rem;
  color: white;
  margin-left: 10%;
  margin-top: 0;
}

.hero .hero__hero-image--overlay h4 {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: 25% 0 0 10%;
}

.hero .hero__hero-image--overlay iframe {
  position: relative;
  bottom: 55%;
  right: 10%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 400px;
  margin: 0 0 0 0;
}

.tourdates {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.tourdates h2 {
  font-size: 2rem;
  margin-left: 10%;
}

.tourdates .tourdates__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 90%;
  margin: 2% 5%;
}

.tourdates .tourdates__table table {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  margin-left: 7%;
}

.tourdates .tourdates__table table tr {
  -webkit-box-shadow: 0 2px 0 #FAFAFA;
          box-shadow: 0 2px 0 #FAFAFA;
  margin: 6% 0%;
}

.tourdates .tourdates__table table tr:nth-of-type(1) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tourdates .tourdates__table table tr td {
  padding: 2% 0%;
}

.tourdates .tourdates__table table tr .desktop-header {
  color: #E1E1E1;
  font-size: .8rem;
  padding-right: 22%;
}

.tourdates .tourdates__table table tr > td:nth-child(2) {
  font-weight: bold;
}

.tourdates .tourdates__table table tr > td:nth-child(4), .tourdates .tourdates__table table tr td:nth-child(6) {
  font-size: .8rem;
}

.tourdates .tourdates__table table tr .mobile-header {
  display: none;
}

.tourdates .tourdates__table table tr button {
  background: #323232;
  color: #FFFFFF;
  font-weight: bold;
  font-size: .8rem;
  padding: 15px 45px;
  border-radius: 4px;
  white-space: nowrap;
  margin-left: 30%;
}

@media (max-width: 1000px) {
  .hero .hero__hero-image .hero__hero-image--overlay iframe {
    position: relative;
    bottom: 30%;
    left: 10%;
    right: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 400px;
    margin: 8% 0 0 0;
  }
  .tourdates {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .hero .hero__hero-image {
    height: 90vh;
  }
  .hero .hero__hero-image .hero__hero-image--overlay {
    height: 90vh;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero .hero__hero-image .hero__hero-image--overlay r
#hero__h2 {
    margin-left: 3%;
    margin-top: 0%;
  }
  .hero .hero__hero-image .hero__hero-image--overlay #hero__h4 {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 55% 0 0 3%;
  }
  .hero .hero__hero-image .hero__hero-image--overlay iframe {
    position: relative;
    bottom: 70%;
    left: 3%;
    right: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 400px;
    margin: 8% 0 0 0;
  }
  .tourdates {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .tourdates h2 {
    font-size: 2rem;
    margin-left: 4%;
  }
  .tourdates .tourdates__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 90%;
    margin: 2% 0;
  }
  .tourdates .tourdates__table table {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
    margin-left: 0;
  }
  .tourdates .tourdates__table table tr {
    -webkit-box-shadow: 0 2px 0 #FAFAFA;
            box-shadow: 0 2px 0 #FAFAFA;
    margin: 6% 0%;
  }
  .tourdates .tourdates__table table tr:nth-of-type(1) {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .tourdates .tourdates__table table tr td {
    padding: 2% 0%;
  }
  .tourdates .tourdates__table table tr th {
    color: #E1E1E1;
    font-size: .8rem;
    padding-right: 22%;
  }
  .tourdates .tourdates__table table tr > td:nth-child(1) {
    font-weight: bold;
  }
  .tourdates .tourdates__table table tr > td:nth-child(2), .tourdates .tourdates__table table tr td:nth-child(3) {
    font-size: .8rem;
  }
  .tourdates .tourdates__table table tr button {
    background: #323232;
    color: #FFFFFF;
    font-weight: bold;
    font-size: .8rem;
    padding: 10px 30px;
    border-radius: 4px;
    width: 100%;
    margin-left: 15%;
  }
}

@media (max-width: 600px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .navbar .navbar__logo {
    margin-top: 5%;
  }
  .navbar .navbar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    width: 100%;
    margin-left: 0%;
  }
  .navbar .navbar__nav .nav-link {
    font-size: 0.8rem;
    margin: -2% 2% -2% 0;
    padding: 0% 23% 1% 22%;
  }
  .navbar .navbar__nav .nav-link p {
    margin: 0;
  }
  .hero {
    width: 100vw;
  }
  .hero .hero__hero-image {
    height: 70vh;
  }
  .hero .hero__hero-image .hero__hero-image--overlay {
    height: 70vh;
  }
  .hero .hero__hero-image .hero__hero-image--overlay #hero__h2 {
    font-size: 3rem;
    margin-left: 2%;
    margin-top: 0%;
    padding: 0;
  }
  .hero .hero__hero-image .hero__hero-image--overlay #hero__h4 {
    font-size: 0.9rem;
    padding: 0;
    color: #FFFFFF;
    margin: 40% 0 0 3%;
  }
  .hero .hero__hero-image .hero__hero-image--overlay iframe {
    position: relative;
    bottom: 60%;
    left: 3%;
    right: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 70vw;
    margin: 0 0 0 0;
  }
  .tourdates {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .tourdates h2 {
    font-size: 2rem;
    margin-left: 5%;
  }
  .tourdates .tourdates__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 50%;
    margin: 2% 2%;
  }
  .tourdates .tourdates__table table {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
  .tourdates .tourdates__table table tr {
    display: block;
    width: 100%;
    -webkit-box-shadow: 0 2px 0 #FAFAFA;
            box-shadow: 0 2px 0 #FAFAFA;
    margin: 10% 0%;
  }
  .tourdates .tourdates__table table tr:nth-of-type(1) {
    -webkit-box-shadow: none;
            box-shadow: none;
    display: none;
  }
  .tourdates .tourdates__table table tr td {
    display: block;
    width: 100%;
    padding: 2% 0%;
  }
  .tourdates .tourdates__table table tr .desktop-header {
    display: none;
    color: #E1E1E1;
    font-size: 0.8rem;
    padding-right: 22%;
  }
  .tourdates .tourdates__table table tr > td:nth-child(1) {
    display: none;
    font-weight: bold;
  }
  .tourdates .tourdates__table table tr > td:nth-child(2),
  .tourdates .tourdates__table table tr td:nth-child(3) {
    font-size: 0.8rem;
  }
  .tourdates .tourdates__table table tr .mobile-header {
    display: inline-block;
  }
  .tourdates .tourdates__table table tr button {
    background: #323232;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0 0 5% 0;
    padding: 10px 55px;
    border-radius: 4px;
    width: 90vw;
  }
}

@media (max-width: 470px) {
  .navbar .navbar__nav .nav-link {
    font-size: 0.8rem;
    margin: -2% 5% 5% 0;
    padding: 0% 18% 2% 15%;
  }
  .hero {
    width: 100vw;
  }
  .hero .hero__hero-image {
    height: 70vh;
  }
  .hero .hero__hero-image .hero__hero-image--overlay {
    height: 70vh;
  }
  .hero .hero__hero-image .hero__hero-image--overlay #hero__h2 {
    font-size: 3rem;
    margin-left: 2%;
    margin-top: 0%;
    padding: 0;
  }
  .hero .hero__hero-image .hero__hero-image--overlay #hero__h4 {
    font-size: 0.9rem;
    padding: 0;
    color: #FFFFFF;
    margin: 40% 0 0 3%;
  }
  .hero .hero__hero-image .hero__hero-image--overlay iframe {
    position: relative;
    bottom: 40%;
    left: 3%;
    right: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 70vw;
    margin: 0 0 0 0;
  }
  .tourdates {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .tourdates h2 {
    font-size: 2rem;
    margin-left: 7%;
  }
  .tourdates .tourdates__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 50%;
    margin: 2% 2%;
  }
  .tourdates .tourdates__table table {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
  .tourdates .tourdates__table table tr {
    display: block;
    width: 100%;
    -webkit-box-shadow: 0 2px 0 #FAFAFA;
            box-shadow: 0 2px 0 #FAFAFA;
    margin: 10% 0%;
  }
  .tourdates .tourdates__table table tr:nth-of-type(1) {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .tourdates .tourdates__table table tr td {
    display: block;
    width: 100%;
    padding: 2% 0%;
  }
  .tourdates .tourdates__table table tr .desktop-header {
    display: none;
    color: #E1E1E1;
    font-size: 0.8rem;
    padding-right: 22%;
  }
  .tourdates .tourdates__table table tr > td:nth-child(1) {
    display: none;
    font-weight: bold;
  }
  .tourdates .tourdates__table table tr > td:nth-child(2),
  .tourdates .tourdates__table table tr td:nth-child(3) {
    font-size: 0.8rem;
  }
  .tourdates .tourdates__table table tr .mobile-header {
    display: inline-block;
  }
  .tourdates .tourdates__table table tr button {
    background: #323232;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0 0 5% 0;
    padding: 10px 55px;
    border-radius: 4px;
    width: 90vw;
  }
}

@media (max-width: 320px) {
  .navbar .navbar__nav .nav-link {
    font-size: 0.8rem;
    margin: 0 5% 5% 0;
    padding: 0% 15% 4% 20%;
  }
  .hero {
    width: 100vw;
  }
  .hero .hero__hero-image {
    height: 70vh;
  }
  .hero .hero__hero-image .hero__hero-image--overlay {
    height: 70vh;
  }
  .hero .hero__hero-image .hero__hero-image--overlay #hero__h2 {
    font-size: 2rem;
    margin: 0 0 0 4%;
    padding: 0;
  }
  .hero .hero__hero-image .hero__hero-image--overlay #hero__h4 {
    font-size: 0.9rem;
    padding: 0;
    color: #FFFFFF;
    margin: 0 0 2% 4%;
  }
  .hero .hero__hero-image .hero__hero-image--overlay iframe {
    position: relative;
    bottom: 5%;
    left: 4%;
    top: 10%;
    right: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 90vw;
    margin: 0 0 0 0;
  }
  .tourdates {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .tourdates h2 {
    font-size: 2rem;
    margin-left: 7%;
    margin-bottom: 0;
  }
  .tourdates .tourdates__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 50%;
    margin: 2% 2%;
  }
  .tourdates .tourdates__table table {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
  .tourdates .tourdates__table table tr {
    display: block;
    width: 100%;
    -webkit-box-shadow: 0 2px 0 #FAFAFA;
            box-shadow: 0 2px 0 #FAFAFA;
    margin: 10% 0%;
  }
  .tourdates .tourdates__table table tr:nth-of-type(1) {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
  }
  .tourdates .tourdates__table table tr td {
    display: block;
    width: 100%;
    padding: 2% 0%;
  }
  .tourdates .tourdates__table table tr .desktop-header {
    display: none;
    color: #E1E1E1;
    font-size: 0.8rem;
    padding-right: 22%;
  }
  .tourdates .tourdates__table table tr > td:nth-child(2),
  .tourdates .tourdates__table table tr td:nth-child(2) {
    font-size: 0.8rem;
  }
  .tourdates .tourdates__table table tr .mobile-header {
    display: inline-block;
  }
  .tourdates .tourdates__table table tr button {
    background: #323232;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0 0 5% 0;
    padding: 10px 55px;
    border-radius: 4px;
    width: 90vw;
  }
}
/*# sourceMappingURL=shows.css.map */