//VARIABLES
$black: #323232; 
$white: #FFFFFF;
$alabaster: #FAFAFA;
$mercury: #E1E1E1;
$silver: #AFAFAF;

//FONTS
@font-face {
  font-family: 'Avenir Next';
  src: url('4.0 - Assets/_Global Font/AvenirNextProLT');
}

//DESKTOP VIEW - 1440px
body {
  font-family: 'Avenir Next'; 
  color: $black;
  margin: 0;
} 
.navbar {
  width: 100%;
  height: 80px;
  background-color: $black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $white;

  .navbar__logo {
    margin: 1% 5% 0 10%;
  }

  .navbar__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 2%;

    .nav-link {
      margin: 0 25%;
      margin-top: 15%;
      padding-bottom: 0%;
      text-decoration: none;
      color: $white;

      &:hover {
        transition: all .5s ease;
        text-shadow: 0 0 1px $white;
      }
    }
  }

  .navbar__nav--active {
    border-bottom: 3px solid $white;
    font-weight: bold;
  }
}

.hero {
  width: 100%;

  .hero__hero-image {
    background-size: cover;
    overflow: hidden;
    background-image: url("../4.0 - Assets/Images/Hero.jpg");

    .hero__hero-image--overlay {
      height: 670px;
      background: rgba(0, 0, 0, .5);
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: flex-start;
  
        h2 {
          font-size: 4rem;
          color: $white;
          margin-left: 10%;
          margin-bottom: 18%;
        
      }
    }
  }
}

.quote-area {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  h2 {
    font-size: 2em;
    margin: 3.5% 0 3.5% 10%;
    align-self: flex-start;
  }

  .quote-area__img {
    background-image: url('../4.0 - Assets/Images/Artist-image.jpg');
    background-size: cover;
    height: 450px;
    width: 60%;
  }
}

.quote-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  .quote-block__h3 {
    font-size: 1.5rem;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
  }

  p {
    width: 55%;
    margin-left: 20%;
  }
}

.bio-area {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;


  .bio__h3 {
    font-size: 1.5rem;
    margin-left: 20%;
  }

  .bio__p {
    display: flex;
    justify-content: space-between;
    margin-left: 18%;
    font-size: .9rem;
    width: 60%;

    p {
      padding: 0 3% 2% 3%;
    }
  }
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background: $alabaster;
  
  .gallery-container {
    margin-left: 16%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  h2 {
    margin-bottom: 4%;
    font-size: 2rem;
  }

  .gallery__grid {
    display: flex;
    flex-flow: row wrap;
      
    img {
      padding: 1%;
      width: 25%;
      height:10%;
      filter: grayscale(100%);

      &:hover {
        transition: all .3s ease-in;
        filter: none;
      }
    }
  }
}

 
.comments-area {
  
  display: flex;
  flex-flow: column nowrap;

  #comments-area__h2 {
    font-size: 2rem;
    margin: 3% 0 2% 16%;
  }

  .comments-container { 
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;   

    .comments-container__title {
      color: $silver;
      font-weight: bold;
      font-size: .8rem;
      align-self: flex-start;
      margin: 1.5% 0 0 34%;
    }
  
    .comments-area__name-input { 
      display: flex;
      justify-content: center; 
      width: 100%; 
   
      .profile-picture {
        border-radius: 50%;
        width: 48px;
        height: 46px;
        margin-right: 1%; 
      } 
  
      input {
        background: $alabaster;
        width: 30%;
        padding: 1%; 
        margin-right: 5%;
        border-radius: 4px;
        border: 2px $mercury solid;
        font-size: .8em;

        &:focus {
          border-color: $black;
        }
      }
    }
    .comments-area__comment-input {
      width: 100%; 
      display: flex; 
      flex-flow: column nowrap;  
        
      textarea {
        align-self: center; 
        background: $alabaster;
        width: 30%;
        border-radius: 4px;
        max-width: 30%;
        min-width: 30%; 
        min-height: 60px;
        max-height: 120px;
        height: 60px;
        padding: 1%;  
        border: 2px $mercury solid; 
        font-size: .8em;
  
        &:focus { 
          border-color: $black;  
        } 
      }

      .commentBtn {
        align-self: flex-end;
        background: $black;
        color: $white;
        font-weight: bold;
        font-size: .8rem;
        width: 12%;
        padding: 1%;
        margin: 2% 34% 2% 0;
        border-radius: 4px;
      }
    }
      
    .comments-area__comment-feed {
      width: 100%;

      .user-comment { 
        display: flex;
        flex-flow: column nowrap; 
        justify-content: center;
        margin: 2%;

        div {
          align-self: center;
          width: 50%;
          height: 20%;
          border-top: 2px solid $alabaster;

          .name-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            width: 100%;
            margin: 0;
            border: none;

            .name {
              color: $black;
              line-height: 50px;
              font-weight: bold;
              font-size: 1rem;
              margin: 3% 0 5% 3%;
            }
  
            .circle {
              background: $mercury;
              margin-left: 5%;
              border-radius: 50%;
              width: 48px;
              height: 46px;
              margin-bottom: 1%;
            }
  
            .date {
              font-size: .9rem;
              color: $silver;
              margin: 3% 0 0 2%; 
              line-height: 50px;
            }
          }

          .comment {
            font-weight: normal;
            font-size: .8rem;
            color: $black;
            margin: -5% 0 4% 15%;
          }

          .deleteBtn {
            background: $black;
            color: $white;
            font-weight: bold;
            font-size: .7rem;
            width: 10%;
            padding: 1%;
            margin: 0 0 3% 87%;
            border-radius: 4px;
          }
        }
      }
    }
  } 
} 
   
.footer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%; 
  height: 50%;
  background: $black;
  color: $white;

  .footer__links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    margin-left: 10%;

    h2 {
      font-size: 2rem;
      padding-top: 1%;
      margin-right: 3%;
    }
    
    img {
      margin: 1% 2%;
    }
    
    .footer__logo {
      margin-left: 32%;
    }
  }
  
  .agents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 9%;

    .agents__contact {
      padding-right: 5%;
      margin: 1%;

      a {
        text-decoration: none;
        color: $white;
      }

      .agents__contact--font-sm {
        font-size: .8rem;
      }
    }
  }

  .copyright-info {
    align-self: flex-start;
    margin: 1% 0 2% 10%;

    p {
      margin-top: 0;
      font-size: .9rem;
    }
  }
}

//MEDIA QUERIES

//TABLET VIEW
@import './Media-Queries/index_tablet-view';
//MOBILE VIEW
@import './Media-Queries/index_mobile-view';
 