

@media (max-width: 1125px) {
  .deleteBtn {
    min-width: 11%;
  }
}

@media (max-width: 975px) {
  .deleteBtn {
    min-width: 12%;
  }
}

@media (max-width: 930px) {
  .deleteBtn {
    min-width: 12%;
  }
}

@media (max-width: 800px) {
  .deleteBtn {
    min-width: 14%;
  }
}

@media (max-width: 768px) {
  .navbar {
  
    .navbar__logo {
      margin: 1% 5% 0 5%;
    }
  
    .navbar__nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      margin: 2%;
  
      .nav-link {
        font-size: .8rem;
        margin-top: 20%;
        padding-bottom: 10%;
      }
    }
  
    .navbar__nav--active {
      border-bottom: 3px solid $white;
      font-weight: bold;
  
    }
  }

  .hero__hero-image {
    height: 50vh;
  }

  .hero__hero-image--overlay {
    height: 50vh;

    #hero__h2 {
      margin-bottom: 55%;
      margin-left: 3%;
    }
  }

  .quote-area {
    h2 {
      font-size: 2.5em;
      margin: 3.5% 0 2% 3%;
    }
  
    .quote-area__img {
      height: 375px;
      width: 94%;
    }
  }
  
  .quote-block {
  
    .quote-block__h3 {
      font-size: 1.5rem;
      width: 94%;
      margin: 3.5% 0 2% 3%;
    }
  
    p {
      margin: 2% 0 1% 3%;
    }
  }

  .bio-area {
  
    .bio__h3 {
      font-size: 1.7rem;
      margin-left: 3%;
    }
  
    .bio__p {
      width: 100vw;
      margin-left: 1%;
      font-size: 1rem;

  
      p {
        margin-top: 0;
        padding: 0 4% 5% 3%;
      }
    }
  }


  .gallery {
    width: 100%;
    background: $alabaster;
    
    .gallery-container {
      margin: 2% 3%;
    }

    h2 {
      margin-bottom: 4%;
      font-size: 2.5rem;
    }

    .gallery__grid {
      img {
        margin: 0;
        padding: 1.6%;
        width: 30%;
      }
    }
  }

  .comments-area {

    #comments-area__h2 {
      margin-left: 3%;
    }

    .comments-container {
  
      .comments-container__title {
        margin: 4% 0 0 26%;
        font-weight: 600;
      }
  
      .comments-area__name-input {
        margin: 0;
  
        .profile-picture {
          margin-right: 3%;
        }
  
        input {
          width: 55%;
          margin: 0;
  
          &:focus {
            border-color: $black;
          }
        }
      }
      .comments-area__comment-input {
        display: flex;
        flex-flow: column nowrap;
  
         textarea {
          width: 100%;
          margin-left: 9%;
          max-width: 55%;
    
          &:focus {
            border-color: $black;
          }
        }
    
        .commentBtn {
          align-self: center;
          margin: 3% 0 0 46%;
          width: 20%;
          padding: 2%;
        }
      }
  
      .comments-area__comment-feed {
        width: 100%;
  
        .user-comment {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          margin: 2%;
  
          div {
            align-self: center;
            width: 80%;
            height: 20%;
            border-top: 2px solid $alabaster;
  
            .name-container {
              display: flex;
              flex-flow: row wrap;
              justify-content: flex-start;
              width: 100%;
              margin: 0;
              border: none;
  
              .name {
                color: $black;
                line-height: 50px;
                font-weight: bold;
                font-size: 1rem;
                margin: 3% 0 5% 3%;
              }
    
              .circle {
                background: $mercury;
                margin-left: 5%;
                border-radius: 50%;
                width: 48px;
                height: 46px;
                margin-bottom: 1%;
              }
    
              .date {
                font-size: .9rem;
                color: $silver;
                margin: 3% 0 0 2%; 
                line-height: 50px;
              }
            }
  
            .comment {
              font-weight: normal;
              font-size: .8rem;
              color: $black;
              margin: -6% 0 4% 16%;
            }

            // .deleteBtn {
            //   min-width: 10%;
            // }
          }
        }
      }
    }





  }

  .footer {

    .footer__links {
      margin-left: 3%;

      h2 {
        font-size: 1.8rem;
      }
      
      img {
        margin: 1% 2%;
      }
      
      .footer__logo {
        margin-left: 30%;
      }
    }
  
  .agents {

    margin-left: 3%;

    .agents__contact {
      padding-right: 5%;
      margin: 1%;

      .agents__contact--font-sm {
        font-size: .8rem;
      }
    }
  }

    .copyright-info {
      margin-left: 4%;
      width: 100%;
    }
  }
}

