@media (max-width: 600px) {

  .navbar {
    flex-flow: column nowrap;

    .navbar__logo {
      margin-top: 5%;
    }
  
    .navbar__nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: space-around;
      width: 100%;
      margin-left: 0%;
  
      .nav-link {
        font-size: .8rem;
        margin: -3% 0% 0% 0;
        padding: 0% 22% 5% 23%;

        p {
          margin: 0;
        }
      }  
    }
  }

  .hero {
    width: 100vw;

    .hero__hero-image {
      height: 70vh;

      .hero__hero-image--overlay {
        height: 70vh;
    
        #hero__h2 {
          font-size: 3rem;
          margin-left: 2%;
          margin-top: 0%;
          padding: 0;
        }
  
        #hero__h4 {
          font-size: .9rem;
          padding: 0;
          color: $white;
          margin: 40% 0 0 3%;
        }
  
        iframe {
          position: relative;
          bottom: 60%; 
          left: 3%;
          right: 0;
          align-self: flex-start;
          width: 70vw; 
          margin: 0 0 0 0;
          // margin-bottom: 300px;
        }
      }
    }
  }

  .tourdates {
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
  
    h2 {
      font-size: 2rem;
      margin-left: 5%;
    }
  
    .tourdates__table {
      display: flex;
      flex-flow: column nowrap;
      width: 50%;
      margin: 2% 2%;
  
      table {
        align-self: center;
        width: 90%;

        tr {
          display: block;
          width: 100%;
          box-shadow: 0 2px 0 $alabaster;
          margin: 10% 0%;

          &:nth-of-type(1){
            box-shadow: none;
            display: none;
          }

          td {
            display: block;
            width: 100%;
            padding: 2% 0%;
          }

          .desktop-header {
            display: none;
            color: $mercury;
            font-size: .8rem;
            padding-right: 22%;
          }

          & > td:nth-child(1) {
            display: none;
            font-weight: bold;
            // padding-right: 10%;
          }

          & > td:nth-child(2), td:nth-child(3) {
            font-size: .8rem;
          }

          .mobile-header {
            display: inline-block;
          }

          button {
            background: $black;
            color: $white;
            font-weight: bold;
            font-size: .8rem;
            margin: 0 0 5% 0;
            padding: 10px 55px;
            border-radius: 4px;
            width: 90vw;
          }
        }
      }
    } 
  }

}

@media (max-width: 470px) {
  
  .navbar {
    .navbar__nav {
      .nav-link {
        margin: 0 0 5% 0%;
        padding: 0% 17% 5% 18%;
      }
    }
  }

  .hero {
    width: 100vw;

    .hero__hero-image {
      height: 70vh;

      .hero__hero-image--overlay {
        height: 70vh;
    
        #hero__h2 {
          font-size: 3rem;
          margin-left: 2%;
          margin-top: 0%;
          padding: 0;
        }
  
        #hero__h4 {
          font-size: .9rem;
          padding: 0;
          color: $white;
          margin: 40% 0 0 3%;
        }
  
        iframe {
          position: relative;
          bottom: 40%; 
          left: 3%;
          right: 0;
          align-self: flex-start;
          width: 70vw; 
          margin: 0 0 0 0;
          // margin-bottom: 300px;
        }
      }
    }
  }

  .tourdates {
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
  
    h2 {
      font-size: 2rem;
      margin-left: 7%;
    }
  
    .tourdates__table {
      display: flex;
      flex-flow: column nowrap;
      width: 50%;
      margin: 2% 2%;
  
      table {
        align-self: center;
        width: 90%;
  
        tr {
          display: block;
          width: 100%;
          box-shadow: 0 2px 0 $alabaster;
          margin: 10% 0%;

          &:nth-of-type(1){
            box-shadow: none;
          }

          td {
            display: block;
            width: 100%;
            padding: 2% 0%;
          }

          .desktop-header {
            display: none;
            color: $mercury;
            font-size: .8rem;
            padding-right: 22%;
          }

          & > td:nth-child(1) {
            display: none;
            font-weight: bold;
            // padding-right: 10%;
          }

          & > td:nth-child(2), td:nth-child(3) {
            font-size: .8rem;
          }

          .mobile-header {
            display: inline-block;
          }

          button {
            background: $black;
            color: $white;
            font-weight: bold;
            font-size: .8rem;
            margin: 0 0 5% 0;
            padding: 10px 55px;
            border-radius: 4px;
            width: 90vw;
          }
        }
      }
    } 
  }

}

@media (max-width: 320px) {

  .navbar {
    .navbar__nav {
      .nav-link {
        margin: 0 0 5% 0%;
        padding: 0% 17% 9% 18%;
      }
    }
  }

  .hero {
    width: 100vw;

    .hero__hero-image {
      height: 70vh;

      .hero__hero-image--overlay {
        height: 70vh;
    
        #hero__h2 {
          font-size: 2rem;
          margin: 0 0 0 4%;
          padding: 0;
        }
  
        #hero__h4 {
          font-size: .9rem;
          padding: 0;
          color: $white;
          margin: 0 0 2% 4%;
        }
  
        iframe {
          position: relative;
          bottom: 5%; 
          left: 4%;
          top: 10%;
          right: 0;
          align-self: flex-start;
          width: 90vw; 
          margin: 0 0 0 0;
        }
      }
    }
  }

  .tourdates {
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
  
    h2 {
      font-size: 2rem;
      margin-left: 7%;
      margin-bottom: 0;
    }
  
    .tourdates__table {
      display: flex;
      flex-flow: column nowrap;
      width: 50%;
      margin: 2% 2%;
  
      table {
        align-self: center;
        width: 90%;
  
        tr {
          display: block;
          width: 100%;
          box-shadow: 0 2px 0 $alabaster;
          margin: 10% 0%;

          &:nth-of-type(1){
            box-shadow: none;
            margin: 0;
          }

          td {
            display: block;
            width: 100%;
            padding: 2% 0%;
          }

          .desktop-header {
            display: none;
            color: $mercury;
            font-size: .8rem;
            padding-right: 22%;
          }


          & > td:nth-child(2), td:nth-child(2) {
            font-size: .8rem;
          }

          .mobile-header {
            display: inline-block;
          }

          button {
            background: $black;
            color: $white;
            font-weight: bold;
            font-size: .8rem;
            margin: 0 0 5% 0;
            padding: 10px 55px;
            border-radius: 4px;
            width: 90vw;
          }
        }
      }
    } 
  }

}
